{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div id='nav-button'><box-icon name='menu' size='md'></box-icon></div>
    <div id="navbar">
        <ul id='navBarList'>
            <li id="home"><div id="home-container"><box-icon name='home-alt-2'></box-icon>&nbsp; Home </div><div id='close'><box-icon name='x'></box-icon></div></li>
        
            <li id="inbox">
                <box-icon name="envelope"></box-icon>&nbsp; Inbox</li>
            <li id="compose">
                <box-icon name="plus-circle"></box-icon>&nbsp; Create</li>
            <li id="sent">
                <box-icon name="send"></box-icon>&nbsp; Sent</li>
            <li id="archived">
                <box-icon name="collection"></box-icon>&nbsp; Archived</li>
            <li id="logout"><a href="{% url 'logout' %}">
                <box-icon name="exit"></box-icon>&nbsp; Log Out</a></li>
        </ul>
    </div>
    <div id='#main-container'>
    <h2>{{ request.user.email }}</h2>
    <hr>
    <div id="emails-view">
    
    </div>
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" >
            <div class="form-group" action='/'>
                From: <input disabled id="sender" class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" id="compose-submit" class="btn btn-primary"/>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
    <script type="module" src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
{% endblock %}