textarea {
    min-height: 400px;
}

.emailDiv {
    border: solid 1px grey;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emailDiv button {
    text-align: right;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right-header {
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: auto;
}

img {
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.myButtons {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 5px;
    border: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
}

.myButtons:hover {
    background-color: rgba(192, 192, 192, 0.5);
}

span {
    font-size: 10px;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 60px;
    bottom: 105%;
    left: 50%;
    margin-left: -30px;
    color: white;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
}

.myButtons:hover span {
    visibility: visible;
}

#body-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#email-body {
    border: solid 2px rgba(192, 192, 192, 0.5);
    border-radius: 5px;
    padding: 15px;
    width: 65%;
}